@import "variables";
@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy";
// 4. Provide custom buefy overrides and site styles here
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
