@import "variables";

@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/layout/_all";

@import "~buefy/src/scss/utils/all";
@import "~buefy/src/scss/components/carousel";

// 4. Provide custom buefy overrides and site styles here
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
